{% extends 'base.html.twig' %}

{% block title %}Accueil AVENUE991{% endblock %}

{% block body %}
 <!-- header -->
 <!--Main Slider-->
 <section id="main-banner-area" class="position-relative">
  <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container m-0 p-0 bg-dark" data-alias="classic4export" data-source="gallery">
   <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
   <div id="rev_main" class="rev_slider fullwidthabanner white" data-version="5.4.1">

    <ul>
     <!-- SLIDE 1 -->
     <li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="01">
      <!-- MAIN IMAGE -->
      <img src="images/avenue991.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
      <!-- LAYER NR. 1 -->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="font-xlight whitecolor text-center roundedElegance" style="font-size: 2em;">Etudiants - Entreprises - Commerçants</h1>

      </div>
      <!-- LAYER NR. 2 -->

      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="text-capitalize font-bold whitecolor text-center lemonmilk_M">Avenue 991</h1>

      </div>
      <!-- LAYER NR. 3 -->

      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1500"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="font-xlight whitecolor text-center roundedElegance" style="font-size: 2.5em; margin-bottom: 30px;"><strong>L'europe en un seul clique.</strong></h1>

      </div>
      <!-- LAYER NR. 4 -->
      <div class="tp-caption"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['120','120','100','100']"
           data-textalign="['center','center','center','center']"
           data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;"
           data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'>
       <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4 roundedElegance">Découvrir</a>
      </div>
      <div style="width:100%;height:100%; background-color:black; position:absolute; opacity: 0.8;"></div>

     </li>
     <!-- SLIDE 2 -->
     <li data-index="rs-02" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="02">
      <!-- MAIN IMAGE -->
      <img src="images/university.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
      <!-- LAYER NR. 1 -->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="font-xlight whitecolor text-center roundedElegance" style="font-size: 2em;">Inscription - Cautionnement - Séjour </h1>

      </div>
      <!-- LAYER NR. 2 -->

      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="text-capitalize font-bold whitecolor text-center lemonmilk_M">ETUDIER EN EUROPE</h1>

      </div>
      <!-- LAYER NR. 3 -->

      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1500"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="text-capitalize font-xlight whitecolor text-center roundedElegance" style="font-size: 2em;">France - Allemagne - Belgique</h1>

      </div>
      <!-- LAYER NR. 4 -->
      <div class="tp-caption"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['120','120','100','100']"
           data-textalign="['center','center','center','center']"
           data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;"
           data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'>
       <a href="javascript:void(0)" class="button btn-dark transition-3 roundedElegance">Je me lance
       </a>
       <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4 roundedElegance">En savoir plus</a>
      </div>
      <div style="width:100%;height:100%; background-color:black; position:absolute; opacity: 0.8;"></div>

     </li>
     <!-- SLIDE 3 -->
     <li data-index="rs-03" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="03">
      <!-- MAIN IMAGE -->
      <img src="images/banner1-3.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
      <!-- LAYER NR. 1 -->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="font-xlight whitecolor text-center roundedElegance" style="font-size: 2.5em;" >Des courses à faire en Europe ?</h1>
      </div>
      <!-- LAYER NR. 2 -->
      <div class="tp-caption"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['120','120','100','100']"
           data-textalign="['center','center','center','center']"
           data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;"
           data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'>
       <a href="javascript:void(0)" class="button btn-dark transition-3 roundedElegance">Je me lance
       </a>
       <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4 roundedElegance">En savoir plus</a>
      </div>

      <!-- LAYER NR. 3-->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="font-bold whitecolor text-center lemonmilk_M" style="margin-top:0px;padding:0px;">LAISSEZ-NOUS FAIRE</h1>
      </div>


      <!-- LAYER NR. 4 -->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1500"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h4 class="whitecolor font-xlight text-center roundedElegance" style="text-align: left; font-size: 1.5em;">FRANCE - BELGIQUE - LUXEMBOURG - ALLEMAGNE </h4>
      </div>
      <!--<div style="width:100%;height:100%; background-color:black; position:absolute; opacity: 0.7;"></div>-->
     </li>

     <!-- SLIDE 4 -->
     <li data-index="rs-04" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="04">
      <!-- MAIN IMAGE -->
      <img src="images/vento.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
      <!-- LAYER NR. 1 -->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="font-xlight whitecolor text-center roundedElegance" style="font-size: 2.5em;" >Vendez autrement,</h1>
      </div>
      <!-- LAYER NR. 2 -->
      <div class="tp-caption"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['120','120','100','100']"
           data-textalign="['center','center','center','center']"
           data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;"
           data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'>
       <a href="javascript:void(0)" class="button btn-dark transition-3 roundedElegance">Je me lance
       </a>
       <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4 roundedElegance">En savoir plus</a>
      </div>


      <!-- LAYER NR. 3-->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="font-bold whitecolor text-center lemonmilk_M" style="margin-top:0px;padding:0px;">VENDEZ EN EUROPE</h1>
      </div>


      <!-- LAYER NR. 4 -->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1500"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h4 class="whitecolor font-xlight text-center roundedElegance" style="text-align: left; font-size: 2em;">Visez un marché plus grand.</h4>
      </div>
      <div style="width:100%;height:100%; background-color:black; position:absolute; opacity: 0.8;"></div>
     </li>
     <!-- SLIDE 5 -->
     <li data-index="rs-05" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="05">
      <!-- MAIN IMAGE -->
      <img src="images/monto.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
      <!-- LAYER NR. 1 -->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h1 class="font-xlight whitecolor text-center roundedElegance" style="font-size: 2.5em;" >Besoin d'un véhicule ?</h1>
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['120','120','100','100']"
           data-textalign="['center','center','center','center']"
           data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;"
           data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'>
       <a href="javascript:void(0)" class="button btn-dark transition-3 roundedElegance">Je me lance
       </a>
       <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4 roundedElegance">En savoir plus</a>
      </div>


      <!-- LAYER NR. 3-->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1000"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <span class="roundedElegance" style="font-size: 1.5em; color: white;">Avec <strong class="roundedElegance">AVENUE991</strong>, faites le choix d'un</span>
       <h1 class="font-bold whitecolor text-center lemonmilk_M" style="margin-top:0px;padding:0px; font-size: 2.8em;">VEHICULE COMME NEUF</h1>
      </div>


      <!-- LAYER NR. 4 -->
      <div class="tp-caption tp-resizeme"
           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
           data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
           data-width="none" data-height="none" data-type="text"
           data-textAlign="['center','center','center','center']"
           data-responsive_offset="on" data-start="1500"
           data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
       <h4 class="whitecolor font-xlight text-center roundedElegance" style="text-align: left; font-size: 2em;">Découvrez le plaisir du neuf.</h4>
      </div>
      <div style="width:100%;height:100%; background-color:black; position:absolute; opacity: 0.8;"></div>
     </li>



    </ul>
   </div>
  </div>
  <ul class="social-icons-simple revicon white">
   <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a> </li>
   <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
   <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i> </a> </li>
   <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
  </ul>
 </section>
 <!--Main Slider ends -->
 <!--Some Services-->
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div id="services-slider" class="owl-carousel">
     <div class="item">
      <div class="service-box">
       <span class="bottom25"><i class="fas fa-user-graduate"></i></span>
       <h4 class="bottom10 text-nowrap"><a href="javascript:void(0)">ETUDIER EN EUROPE</a></h4>
       <p>Vous avez un projet d'étude en FRANCE, en BELGIQUE ou en ALLEMAGNE ? Ecrivez nous.</p>
      </div>
     </div>
     <div class="item">
      <div class="service-box">
       <span class="bottom25"><i class="fas fa-car"></i></span>
       <h4 class="bottom10"><a href="javascript:void(0)">VEHICULES D'OCCASION</a></h4>
       <p>Tous types de véhicules d'occasion garantis comme neuf : Française, Allemande ou autres.</p>
      </div>
     </div>

     <div class="item">
      <div class="service-box">
       <span class="bottom25"><i class="fas fa-store"></i></span>
       <h4 class="bottom10"><a href="javascript:void(0)">DEVENIR VENDEUR EN EUROPE</a></h4>
       <p>Ressentez-vous le besoin d'un marché plus grand? Vendez en Europe.</p>
      </div>
     </div>

     <div class="item">
      <div class="service-box">
       <span class="bottom25"><i class="fas fa-hands-helping"></i></span>
       <h4 class="bottom10"><a href="javascript:void(0)">DEMARCHES & FORMALITES</a></h4>
       <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
      </div>
     </div>
     <div class="item">
      <div class="service-box">
       <span class="bottom25"><i class="fas fa-shopping-cart"></i></span>
       <h4 class="bottom10"><a href="javascript:void(0)">ACHATS & COURSES</a></h4>
       <p>Confiez-nous vos achats et vos courses <br> Nous vous les ferons mieux que vous. </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <!--Some Services ends-->
 <!--Some Feature -->
 <section id="our-feature" class="single-feature padding_bottom padding_top_half mt-1 mt-lg-n4 mt-md-n3">
  <div class="container">
   <div class="row d-flex align-items-center">
    <div class="col-lg-6 col-md-7 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
     <div class="heading-title mb-4">
      <h2 class="darkcolor font-normal bottom30">Devenez présents en <span class="red">France et en Europe</span></h2>
     </div>
     <p class="bottom35 roundedElegance" style="text-align: justify;">Etudiants, particuliers, entreprises et commerçants, où que vous soyez, à votre demande notre fine équipe s'engage à vous représenter partout en France ou en Europe pour l'intêret de vos affaires. Désormais présent en France, Belgique Allemagne au Luxembourg, nous vous offrons des services plus variés et plus adaptés  vos besoins.<br> Pourquoi vous déplacez si nous pouvons le faire pour vous ?<br> <strong class="lemonmilk_M red">Demandez-nous même la lune</strong>.  </p>
     <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4">En savoir plus</a>
    </div>
    <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
     <div class="image"><img alt="SEO" src="images/monde.png"></div>
    <!-- <div class="image"><img alt="SEO" src="images/awesome-feature.png"></div>-->
    </div>
   </div>
  </div>
 </section>
 <!--Some Feature ends-->
 <!-- WOrk Process-->
 <section id="our-process" class="padding bgdark">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
     <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
      <span>Nous demandez un service</span>
      <h2 class="font-normal">Comment ça marche ?</h2>
     </div>
    </div>
   </div>
   <div class="row">
    <ul class="process-wrapp">
     <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
      <span class="pro-step bottom20">01</span>
      <p class="fontbold bottom25" style="color:#FF4000;">Faites votre demande</p>
      <p class="mt-n2 mt-sm-0">Cliquer sur le service de votre choix puis remplissez le formulaire de demande.</p>
     </li>
     <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
      <span class="pro-step bottom20">02</span>
      <p class="fontbold bottom25" style="color:#FF4000;">Validation & paiement</p>
      <p class="mt-n2 mt-sm-0">Un conseiller prendra contacte avec vous sous 24H pour valider votre demande.</p>

     </li>
     <li class="whitecolor wow fadeIn active" data-wow-delay="500ms">
      <span class="pro-step bottom20">03</span>
      <p class="fontbold bottom25" style="color:#FF4000;">Espace client</p>
      <p class="mt-n2 mt-sm-0">Votre compte client en ligne sera créé et vous devrez le confirmer.</p>

     </li>
     <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
      <span class="pro-step bottom20">04</span>
      <p class="fontbold bottom25" style="color:#FF4000;">Traitement</p>
      <p class="mt-n2 mt-sm-0">Vous pouvez désormais suivre l'évolution de vos services depuis votre espace client.</p>
     </li>
     <!--<li class="whitecolor wow fadeIn" data-wow-delay="700ms">
         <span class="pro-step bottom20">05</span>
         <p class="fontbold bottom25" style="color:#FF4000;"></p>
         <p class="mt-n2 mt-sm-0"></p>
     </li>-->
    </ul>
   </div>
  </div>
 </section>
 <!--WOrk Process ends-->
 <!-- Mobile Apps -->
 <section id="our-apps" class="padding">
  <div class="container">
   <div class="row align-items-center">
    <div class="col-lg-6 col-md-7 col-sm-12">
     <div class="heading-title bottom30 wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
      <!-- <span class="defaultcolor text-center text-md-left">Quisque tellus risus, adipisci viverra</span>-->
      <h2 class="darkcolor font-normal text-center text-md-left lemonmilk_L" style="color: #C31120;">AVENUE991 <br> sur vos mobiles</h2>
     </div>
    </div>
    <div class="col-lg-6 col-md-5 col-sm-12">
     <p class="text-center text-md-left roundedElegance" style="text-align: justify;">Afin d'être présent  vos côtés où que vous soyez, notre plate-forme en ligne est totalement compatible avec tou vos supports numériques. </p>
    </div>
   </div>
   <div class="row d-flex align-items-center" id="app-feature">
    <div class="col-lg-4 col-md-4 col-sm-12">
     <div class="text-center text-md-right">

      <div class="feature-item wow fadeInLeft roundedElegance" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInLeft;">

       <div class="icon" style=""><i class="fas fa-tablet-alt red"></i><!--<i class="fas fa-laptop" style=""></i>&ensp;<i class="fas fa-tablet-alt" style=""></i>&ensp;--></div>
       <div class="text">
        <h3 class="bottom15">
         <span class="d-inline-block roundedElegance">Responsive-design</span>
        </h3>
        <p class="roundedElegance" style="text-align: justify;">Que vous soyez sur tablette ou sur un smartphone, continuer sans interruption votre expérience utilisateur.</p>
       </div>

      </div>
      <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
       <div class="icon"><i class="fas fa-hourglass-half" style="color:#CD0016;"></i></div>
       <div class="text">
        <h3 class="bottom15">
         <span class="d-inline-block roundedElegance">Gagnez du temps</span>
        </h3>
        <p class="roundedElegance">Plus de souplesse et de rapidité.</p>
       </div>

      </div>
     </div>
    </div>
    <div class="col-md-4 text-center">
     <div class="app-image top30">
      <div class="app-slider-lock-btn"></div>
      <div class="app-slider-lock">
       <img src="images/iphone-slide-lock.png" alt="">
      </div>
      <div id="app-slider" class="owl-carousel owl-theme owl-loaded owl-drag">



       <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-470px, 0px, 0px); transition: all 0s ease 0s; width: 1645px;"><div class="owl-item cloned" style="width: 235px;"><div class="item">
           <img src="images/iphone-slide2.png" alt="">
          </div></div><div class="owl-item cloned" style="width: 235px;"><div class="item">
           <img src="images/iphone-slide3.png" alt="">
          </div></div><div class="owl-item active" style="width: 235px;"><div class="item">
           <img src="images/iphone-slide1.png" alt="">
          </div></div><div class="owl-item" style="width: 235px;"><div class="item">
           <img src="images/iphone-slide2.jpg" alt="">
          </div></div><div class="owl-item" style="width: 235px;"><div class="item">
           <img src="images/iphone-slide3.jpg" alt="">
          </div></div><div class="owl-item cloned" style="width: 235px;"><div class="item">
           <img src="images/iphone-slide1.jpg" alt="">
          </div></div><div class="owl-item cloned" style="width: 235px;"><div class="item">
           <img src="images/iphone-slide2.jpg" alt="">
          </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
      <img src="images/iphone.png" alt="image">
     </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">

     <div class="text-center text-md-left">
      <div class="feature-item mt-3 wow fadeInRight" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;">
       <div class="icon"><i class="fas fa-universal-access" style="color:#CD0016;"></i></div>
       <div class="text">
        <h3 class="bottom15">
         <span class="d-inline-block roundedElegance">Accessibilité</span>
        </h3>
        <p class="roundedElegance" style="text-align: justify;">Vos informations, et le suivi de vos services partout où vous êtes.</p>
       </div>
      </div>

     </div>
     <div class="text-center text-md-left">
      <div class="feature-item mt-3 wow fadeInRight" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;">
       <div class="icon"><i class="fas fa-shield-alt" style="color:#CD0016;"></i></div>
       <div class="text">
        <h3 class="bottom15">
         <span class="d-inline-block roundedElegance">Sécurité</span>
        </h3>
        <p style="text-align: justify;" class="roundedElegance">La sécurité de vos accés-clients est garantie partout sur notre plate-forme, quelque soit votre support de travail.</p>
       </div>
      </div>

     </div>
    </div>
   </div>
  </div>
 </section>
 <!--Mobile Apps ends-->

 <!--Page Header-->
 <section id="main-banner-page" class="position-relative page-header shop-header section-nav-smooth parallax">
  <div class="overlay overlay-dark opacity-6 z-index-1"></div>
  <div class="container">
   <div class="row">
    <div class="col-lg-8 offset-lg-2">
     <div class="page-titles whitecolor text-center padding_top padding_bottom">
      <h2 class="font-xlight roundedElegance">Achetez et vendez sur notre<br> E-COMMERCE</h2>
     <!-- <h2 class="font-bold roundedElegance">Ne laissez pas passer une belle affaire</h2>-->
      <!--<h2 class="font-xlight">In Market</h2>-->
     <!-- <h3 class="font-light pt-2 roundedElegance">Des offres flash & des prix de ouuf !</h3>-->
      <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4 roundedElegance" style="margin-top: 50px;">Rejoindre notre plateforme</a>
     </div>
    </div>
   </div>
   <div class="gradient-bg title-wrap">
    <div class="row">
     <div class="col-lg-12 col-md-12 whitecolor">
      <h3 class="float-left">BOUTIQUE EN LIGNE</h3>
      <ul class="breadcrumb top10 bottom10 float-right">
       <li class="breadcrumb-item hover-light roundedElegance"><a href="index.html">Accueil</a></li>
       <li class="breadcrumb-item hover-light roundedElegance">Boutique en ligne</li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </section>

 <!--Page Header ends -->

 <!--Shopping-->
 <section id="our-shop" class="padding">

  <div class="container">
   <div class="row">
    <div class="col-md-12 text-center wow fadeIn" data-wow-delay="300ms">
     <h2 class="heading bottom30 darkcolor font-light2 roundedElegance">Arrive <span class="font-normal">très bientôt</span>
      <span class="divider-center"></span>
     </h2>
     <!--<div class="col-md-8 offset-md-2 heading_space">
      <p class="roundedElegance">Retouvez ici, quelques sélections des belles affaires de nos rayons</p>
     </div>-->
    </div>
    <!-- VEHICULES D'OCCASION -->
   <!-- <section class="row flexbox">
     <h1 class="col-lg-12" style="margin-bottom: 10px; font-size:2em;"> <i class="fa fa-car"></i> Véhicules d'occasions</h1>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="300ms">
      <div class="shopping-box bottom30">
       <div class="image sale" data-sale="40">
        <img src="images/shop-1.jpg" alt="shop">
        <div class="overlay center-block">
         <a class="opens" href="#" title="Ajouter au panier"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content alignleft roundedElegance">
        <p><strong> <h4 class="price-product">$230.00</h4> </strong></p>
        <h4 class="darkcolor"><a href="shop-detail.html">Classic Shoe</a></h4>
        <label style="margin: 0px;"><i class="fas fa-clock"></i> 75 000 km</label><br>
        <label style="margin: 0px;"><i class="fas fa-gas-pump"></i> Essences</label><br>
        <label style="margin: 0px;"><i class="fas fa-cogs"></i> BV. Automatique</label><br>

       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn roundedElegance" data-wow-delay="400ms">
      <div class="shopping-box bottom30">
       <div class="image sale" data-sale="30">
        <img src="images/shop-3.jpg" alt="shop">
        <div class="overlay primary center-block">
         <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center">
        <h4 class="darkcolor"><a href="shop-detail.html">Blue Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="500ms">
      <div class="shopping-box bottom30">
       <div class="image">
        <img src="images/shop-4.jpg" alt="shop">
        <div class="overlay danger center-block">
         <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center">
        <h4 class="darkcolor"><a href="shop-detail.html">Red Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="500ms">
      <div class="shopping-box bottom30">
       <div class="image">
        <img src="images/shop-4.jpg" alt="shop">
        <div class="overlay danger center-block">
         <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center">
        <h4 class="darkcolor"><a href="shop-detail.html">Red Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>
    </section>-->
    <!-- MOTOS -->
   <!-- <section class="row flexbox">
     <h1 class="col-lg-12" style="margin-bottom: 10px; font-size:2em;"><i class="fas fa-motorcycle"></i> MOTOS</h1>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="300ms">
      <div class="shopping-box bottom30">
       <div class="image sale" data-sale="40">
        <img src="images/shop-1.jpg" alt="shop">
        <div class="overlay center-block">
         <a class="opens" href="#" title="Ajouter au panier"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content alignleft">
        <p><strong><h4 class="price-product">$230.00</h4></strong></p>
        <h4 class="darkcolor"><a href="shop-detail.html">Classic Shoe</a></h4>
        <label style="margin: 0px;"><i class="fas fa-clock"></i> 75 000 km</label><br>
        <label style="margin: 0px;"><i class="fas fa-gas-pump"></i> Essences</label><br>
        <label style="margin: 0px;"><i class="fas fa-cogs"></i> BV. Automatique</label><br>

       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="400ms">
      <div class="shopping-box bottom30">
       <div class="image sale" data-sale="30">
        <img src="images/shop-3.jpg" alt="shop">
        <div class="overlay primary center-block">
         <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center">
        <h4 class="darkcolor"><a href="shop-detail.html">Blue Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="500ms">
      <div class="shopping-box bottom30">
       <div class="image">
        <img src="images/shop-4.jpg" alt="shop">
        <div class="overlay danger center-block">
         <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center">
        <h4 class="darkcolor"><a href="shop-detail.html">Red Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="500ms">
      <div class="shopping-box bottom30">
       <div class="image">
        <img src="images/shop-4.jpg" alt="shop">
        <div class="overlay danger center-block">
         <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center">
        <h4 class="darkcolor"><a href="shop-detail.html">Red Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>

    </section> -->
    <!-- AUTRES RAYONS-->
   <!-- <section class="row flexbox roundedElegance">
     <h1 class="col-lg-12" style="margin-bottom: 10px; font-size:2em;"><i class="fas fa-shopping-cart"></i> Autre rayons</h1>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="300ms">
      <div class="shopping-box bottom30 roundedElegance">
       <div class="image sale" data-sale="40">
        <img src="images/shop-1.jpg" alt="shop">
        <div class="overlay center-block">
         <a class="opens" href="#" title="Ajouter au panier"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center roundedElegance">
        <h4 class="darkcolor"><a href="shop-detail.html">Classic Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="400ms">
      <div class="shopping-box bottom30">
       <div class="image sale" data-sale="30">
        <img src="images/shop-3.jpg" alt="shop">
        <div class="overlay primary center-block">
         <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center">
        <h4 class="darkcolor"><a href="shop-detail.html">Blue Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="500ms">
      <div class="shopping-box bottom30">
       <div class="image">
        <img src="images/shop-4.jpg" alt="shop">
        <div class="overlay danger center-block">
         <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center">
        <h4 class="darkcolor"><a href="shop-detail.html">Red Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="500ms">
      <div class="shopping-box bottom30">
       <div class="image">
        <img src="images/shop-4.jpg" alt="shop">
        <div class="overlay danger center-block">
         <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
       </div>
       <div class="shop-content text-center">
        <h4 class="darkcolor"><a href="shop-detail.html">Red Shoe</a></h4>
        <p>We offer the most complete in the country</p>
        <h4 class="price-product">$230.00</h4>
       </div>
      </div>
     </div>

    </section> -->
    <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4" style="margin-left: auto; margin-right: auto;">Encore plus de produits et de sercices</a>

    <!--<div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="300ms">
       <div class="shopping-box bottom30">
          <div class="image sale" data-sale="20">
             <img src="images/shop-2.jpg" alt="shop">
             <div class="overlay primary center-block">
                <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
             </div>
          </div>
          <div class="shop-content text-center">
             <h4 class="darkcolor"><a href="shop-detail.html">Light Weigh Shoe</a></h4>
             <p>We offer the most complete in the country</p>
             <h4 class="price-product">$230.00</h4>
          </div>
       </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="400ms">
       <div class="shopping-box bottom30">
          <div class="image">
             <img src="images/shop-11.jpg" alt="shop">
             <div class="overlay danger center-block">
                <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
             </div>
          </div>
          <div class="shop-content text-center">
             <h4 class="darkcolor"><a href="shop-detail.html">Women Shoe</a></h4>
             <p>We offer the most complete in the country</p>
             <h4 class="price-product">$230.00</h4>
          </div>
       </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="500ms">
       <div class="shopping-box bottom30">
          <div class="image sale" data-sale="20">
             <img src="images/shop-6.jpg" alt="shop">
             <div class="overlay center-block">
                <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
             </div>
          </div>
          <div class="shop-content text-center">
             <h4 class="darkcolor"><a href="shop-detail.html">Kids Shoe</a></h4>
             <p>We offer the most complete in the country</p>
             <h4 class="price-product">$230.00</h4>
          </div>
       </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="300ms">
       <div class="shopping-box bottom30">
          <div class="image">
             <img src="images/shop-9.jpg" alt="shop">
             <div class="overlay primary center-block">
                <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
             </div>
          </div>
          <div class="shop-content text-center">
             <h4 class="darkcolor"><a href="shop-detail.html">Jogging Shoe</a></h4>
             <p>We offer the most complete in the country</p>
             <h4 class="price-product">$230.00</h4>
          </div>
       </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="400ms">
       <div class="shopping-box bottom30">
          <div class="image sale" data-sale="30">
             <img src="images/shop-8.jpg" alt="shop">
             <div class="overlay danger center-block">
                <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
             </div>
          </div>
          <div class="shop-content text-center">
             <h4 class="darkcolor"><a href="shop-detail.html">Classic Shoe</a></h4>
             <p>We offer the most complete in the country</p>
             <h4 class="price-product">$230.00</h4>
          </div>
       </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="500ms">
       <div class="shopping-box bottom30">
          <div class="image">
             <img src="images/shop-12.jpg" alt="shop">
             <div class="overlay center-block">
                <a class="opens" href="shop-cart.html" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
             </div>
          </div>
          <div class="shop-content text-center">
             <h4 class="darkcolor"><a href="shop-detail.html">Women Golden Shoe</a></h4>
             <p>We offer the most complete in the country</p>
             <h4 class="price-product">$230.00</h4>
          </div>
       </div>
    </div>
    <div class="col-lg-12 col-md-12">
       <ul class="pagination justify-content-center top20 wow fadeInUp" data-wow-delay="400ms">
          <li class="page-item"><a class="page-link disabled" href="#."><i class="fa fa-angle-left"></i></a></li>
          <li class="page-item active"><a class="page-link" href="#.">1</a></li>
          <li class="page-item"><a class="page-link" href="#.">2</a></li>
          <li class="page-item"><a class="page-link" href="#.">3</a></li>
          <li class="page-item"><a class="page-link" href="#."><i class="fa fa-angle-right"></i></a></li>
       </ul>
    </div>-->


   </div>
  </div>
 </section>
 <!--Shopping ends-->


 <!-- Counters -->
 <section id="bg-counters" class="padding bg-counters parallax">
  <div class="container">
   <div class="row align-items-center text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
     <div class="counters whitecolor  top10 bottom10">
      <span class="count_nums font-light" data-to="2013" data-speed="2500"> </span>
     </div>
     <h3 class="font-light whitecolor top20">Nous étions déjà là.</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
     <p class="whitecolor top20 bottom20 font-light title">Grâce à vous, clients fidèles et passionnés,  </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
     <div class="counters whitecolor top10 bottom10">
      <span class="count_nums font-light" data-to="11780" data-speed="2500"> </span>
     </div>
     <h3 class="font-light whitecolor top20">services on été rendus</h3>
    </div>
   </div>
  </div>
 </section>
 <!-- Counters ends-->
 <!-- Our Team-->
 <!--on en a pas encore<section id="our-team" class="padding_top half-section-alt teams-border">
  <div class="container">
   <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
     <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
    <span class="defaultcolor text-center text-md-left">Quisque tellus risus, adipisci</span>
      <h2 class="darkcolor font-normal bottom30 text-center text-md-left roundedElegance">LA FINE EQUIPE</h2>
     </div>
    </div>
 <div class="col-lg-6 col-md-6 col-sm-12">
         <p class="heading_space mt-n3 mt-sm-0 text-center text-md-left">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. </p>
     </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <div id="ourteam-slider" class="owl-carousel">
      <div class="item">
       <div class="team-box">
        <div class="image padding50">
         <img src="images/userH.svg" alt="">
        </div>
        <div class="team-content">
         <h4 class="darkcolor">M. AMEN CATRAYE</h4>
         <p>PROMOTEUR DE AVENUE991</p>
         <ul class="social-icons-simple">
          <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
          <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
          <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
         </ul>
        </div>
       </div>
      </div>
      <div class="item">
       <div class="team-box">
        <div class="image padding50">
         <img src="images/userF.svg" alt="">
        </div>
        <div class="team-content">
         <h4 class="darkcolor">FLORIANE ATCHEDE </h4>
         <p>ASSISTANTE Rep. BENIN</p>
         <ul class="social-icons-simple">
          <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
          <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
          <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
         </ul>
        </div>
       </div>
      </div>
      <div class="item">
       <div class="team-box single">
        <div class="image padding50">
         <img src="images/userF.svg" alt="">
        </div>
        <div class="team-content">
         <h4 class="darkcolor">---</h4>
         <p>CONTACT AV.991 - EUROPE</p>
         <ul class="social-icons-simple">
          <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
          <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
          <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
         </ul>
        </div>
       </div>
      </div>
      <div class="item">
       <div class="team-box">
        <div class="image padding50">
         <img src="images/supportH.svg" alt="">
        </div>
        <div class="team-content">
         <h4 class="darkcolor">---</h4>
         <p>SERVICE DES RECLAMATIONS</p>
         <ul class="social-icons-simple">
          <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
          <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
          <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
         </ul>
        </div>
       </div>
      </div>

     </div>
    </div>
   </div>
  </div>
 </section>-->
 <!-- Our Team ends-->

 <!-- Partners-->
 <section id="our-partners" class="padding">
  <div class="container">
   <div class="row">
    <h2 class="d-none">Partners Carousel</h2>
    <div class="col-md-12 col-sm-12">
     <div id="partners-slider" class="owl-carousel">
      <div class="item">
       <div class="logo-item"> <img alt="" src="images/logo-1.png"></div>
      </div>
      <div class="item">
       <div class="logo-item"><img alt="" src="images/logo-2.png"></div>
      </div>
      <div class="item">
       <div class="logo-item"><img alt="" src="images/logo-3.png"></div>
      </div>
      <div class="item">
       <div class="logo-item"><img alt="" src="images/logo-4.png"></div>
      </div>
      <div class="item">
       <div class="logo-item"><img alt="" src="images/logo-5.png"></div>
      </div>
      <div class="item">
       <div class="logo-item"><img alt="" src="images/logo-1.png"></div>
      </div>
      <div class="item">
       <div class="logo-item"><img alt="" src="images/logo-2.png"></div>
      </div>
      <div class="item">
       <div class="logo-item"><img alt="" src="images/logo-3.png"></div>
      </div>
      <div class="item">
       <div class="logo-item"><img alt="" src="images/logo-4.png"></div>
      </div>
      <div class="item">
       <div class="logo-item"><img alt="" src="images/logo-5.png"></div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>
 <!-- Partners ends-->
 <!-- Testimonials -->
 <section id="our-testimonial" class="bglight padding_bottom">
  <div class="parallax page-header testimonial-bg">
   <div class="container">
    <div class="row">
     <div class="col-lg-6 offset-lg-6 col-md-12 text-center text-lg-right">
      <div class="heading-title wow fadeInUp padding_testi" data-wow-delay="300ms">
       <span class="whitecolor">Nos clients nous connaissent :</span>
       <h2 class="whitecolor font-normal">Ils parlent de nous</h2>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="owl-carousel" id="testimonial-slider">
    <!--item 1-->
    <div class="item testi-box">
     <div class="row align-items-center">
      <div class="col-lg-4 col-md-12 text-center">
       <div class="testimonial-round d-inline-block padding30">
        <img src="images/userHR.svg" alt="">
       </div>
       <h4 class="defaultcolor font-light top15"><a href="#.">John Smith</a></h4>
       <p>UPWORK, New York</p>
      </div>
      <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
       <p class="bottom15 top90">We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won’t receive a generic service and although we boast a years and years of service.</p>
       <span class="d-inline-block test-star">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                </span>
      </div>
     </div>
    </div>
    <!--item 2-->
    <div class="item testi-box">
     <div class="row align-items-center">
      <div class="col-lg-4 col-md-12 text-center">
       <div class="testimonial-round d-inline-block padding30">
        <img src="images/userFR.svg" alt="">
       </div>
       <h4 class="defaultcolor font-light top15"><a href="#.">Hayden Wood</a></h4>
       <p>FIVERR, Italy</p>
      </div>
      <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
       <p class="bottom15 top90">Trax’s customer testimonial page is another beauty. Its simple design focuses on videos and standout quotes from customers. This approach is clean, straightforward, text that can be overwhelming and easy to skip.</p>
       <span class="d-inline-block test-star">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> <i class="far fa-star"></i>
                                </span>
      </div>
     </div>
    </div>
    <!--item 3-->
    <div class="item testi-box">
     <div class="row align-items-center">
      <div class="col-lg-4 col-md-12 text-center">
       <div class="testimonial-round d-inline-block padding30">
        <img src="images/userHR.svg" alt="">
       </div>
       <h4 class="defaultcolor font-light top15"><a href="#.">Kevin Miller</a></h4>
       <p>ENVATO, Australia</p>
      </div>
      <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
       <p class="bottom15 top90">Trax is a company that provides tools to help professional event planning and execution, and their customers are very happy folks! The thing I love about their customer testimonial page provides content formats.</p>
       <span class="d-inline-block test-star">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                </span>
      </div>
     </div>
    </div>
    <!--item 4-->
    <div class="item testi-box">
     <div class="row align-items-center">
      <div class="col-lg-4 col-md-12 text-center">
       <div class="testimonial-round d-inline-block padding30">
        <img src="images/userHR.svg" alt="">
       </div>
       <h4 class="defaultcolor font-light top15"><a href="#.">Alina Johanson</a></h4>
       <p>INTEL, Sidney</p>
      </div>
      <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
       <p class="bottom15 top90">Startup Institute is a career accelerator that allows professionals to learn new skills, take their careers in a different direction, and pursue a career they are passionate about that have completed the program.</p>
       <span class="d-inline-block test-star">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> <i class="far fa-star"></i>
                                </span>
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>
 <!--testimonials end-->

{% endblock %}
{% block footer %}{% endblock %}

